@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.app {
  width: 770px;
  min-height: 300px;
  background-color: #003566;
  margin: 140px auto;
  padding: 50px 100px;
  border-radius: 5px;
}

.title {
  display: flex;
  justify-content: center;
}

h1{
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  font-size: 40px;
}

.input-form{
  height: 48px;
  margin-top: 20px;
  display: flex;
  margin-bottom: 56px;
}

.input-form > input {
  flex: 3;
  width: 448px;
  margin-right: 20px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding-left: 16px;
  font-size: 16px;
}

.input-form > button {
  width: 99px;
  border-radius: 100px;
  background-color: #FFC300;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

ul li {
  margin-top: 16px;
  list-style: none;
  width: 568px;
  height: 50px;
  background-color: #001D3D;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

li > label {
  display: flex;
  color: white;
  align-items: center;
  padding-left: 10px;
}

.btn {
  display: flex;
  align-items: center;
  padding-right: 10px;
  gap: 10px;
}

.delete_btn {
  border: none;
  display: flex;
  width: 32px;
  height: 32px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.input-form .edit-btn {
  background-color: #00b4d8;
  color: white;
}

img {
  width: 18px;
  height: 18px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 56px;
  font-size: 24px;
  color: white;
}
